<header>
    <div class="inner">
        <h1><a href="/enduro_demo/">{{global.site_name}}</a></h1>
        {{#if global.site_description}}
            <p>{{global.site_description}}</p>
        {{/if}}
    </div>
</header>
<nav class="aSiteNav">
    <div class="inner">
        {{#if global.show_archive_link}}
            <a href="/enduro_demo/archive/">{{global.archive_link_text}}</a>
        {{/if}}
        {{#navlinks}}
            {{#each this}}
                <a href="/enduro_demo/pages/{{this.page_slug}}/">{{this.content.navigation_title}}</a>
            {{/each}}
        {{/navlinks}}
    </div>
</nav>
